<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.MsImgModelMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.MsImgModel" >
    <result column="msfimg" property="msfimg" jdbcType="VARCHAR" />
    <result column="mspid" property="mspid" jdbcType="INTEGER" />
  </resultMap>
  <select id="queryMsImg" resultMap="BaseResultMap">
    select * from ms_msimg where mspid=#{mspid}
  </select>
</mapper>