<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.UserMapper">

    <!--注册账号-->
    <insert id="zhucheUser">

        INSERT into MSUser (userNiCheng,userAccount,userPasw,userPhone,userMail,userzhucheDate,AccountStatus)

		VALUES(#{userNiCheng},#{userAccount},#{userPasw},#{userPhone},#{userMail},NOW(),1)
    </insert>

    <!--根据手机号查询 是否注册过-->
    <select id="queryUserName" resultType="com.jk.model.UserModel">
        select * from msuser u where u.userPhone = #{userPhone}
    </select>
    <!--根据手机号查询 是否存在-->
    <select id="queryUser" resultType="com.jk.model.UserModel">
        select * from msuser u where u.userPhone = #{userPhone}
    </select>

</mapper>